.sub{
    border:3px solid black;
    border-color: #d2691e;
    padding:40px;
    display:inline-block;
    border-radius:30px;
    margin-left:500px;
    background-color: rgb(37, 2, 2);
    color:rgb(247, 245, 242);
    margin-top:70px;
}
h2{
    color: rgb(203, 59, 186);
    font-weight:30px;
}
h2:hover{
    text-shadow: 1px 20px 15px rgb(255, 255, 255);
}
#money:active{
  color: rgb(144, 147, 238);
}
.select::selection{
    color:cyan;
}
button{
    color:hsl(249, 72%, 85%);
    background-color: #b30b5c;
}
button:hover{
    font-size:30px;
    color:rgb(229, 221, 210);
    background-color: rgb(109, 63, 86);
}
#box1{
   height:200px;
   width:250px;
   background-color: rgb(204, 127, 127);
   color:rgb(5, 24, 40);
   padding:10px;
   border-radius:7%;
   margin-bottom:5px;
   float:left;
   margin-right:5px;
}
#box2{
   height:200px;
   width:250px;
   background-color: rgb(204, 127, 127);
   color:rgb(5, 24, 40);
   padding:10px;
   border-radius:7%;
   float:right;
}